build
package-lock.json
node_modules
test_scratch
md_style
workspace.code-workspace
notes_and_todo.md
samples/out/*
tsconfig.tsbuildinfo
samples/**/out/*
samples/**/.lapol/*
samples/**/tsconfig.json
samples/js and ts_old
samples/simple_old
coverage
misc bak